<table class="table">
    <thead>
        <tr>
            <th>Rental Id</th>
            <th>Car Id</th>
            <th>Brand Name</th>
            <th>User Id</th>
            <th>Name Surname</th>
            <th>Rent Date</th>
            <th>Return Date</th>
        </tr>
    </thead>
    <tr *ngFor="let rentalDetail of rentalDetails">
        <td>{{rentalDetail.rentalId}}</td>
        <td>{{rentalDetail.id}}</td>
        <td>{{rentalDetail.brandName}}</td>
        <td>{{rentalDetail.userId}}</td>
        <td>{{rentalDetail.firstName}} {{rentalDetail.lastName}}</td>
        <td>{{rentalDetail.rentDate}}</td>
        <td>{{rentalDetail.returnDate}}</td>
    </tr>
</table>